@import "modules/reset";
@import "modules/vars";
// @import 'modules/queries';

@import "modules/menu";
@import "modules/home";
@import "modules/thumbnails";
@import "modules/lightbox";

@import "modules/queries";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-appearance: none; // safari bug
}

body {
  position: relative;
  font-size: 16px;
  background-color: $background;
  font-family: $main-type;

  margin: 0 auto;
  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;
}
 
main {
  margin: 0 38px;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: rgb(121,131,255);
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, rgba(121,131,255,1) 30%, rgba(72,220,254,1) 61%);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}