@import "modules/reset";
@import "modules/vars";
// @import 'modules/queries';

@import "modules/nav";
@import "modules/home";
@import "modules/thumbnails";

@import "modules/queries";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-appearance: none; // safari bug
}

body {
  position: relative;
  font-size: 16px;
  background-color: $background;
  font-family: $main-type;

  margin: 0 auto;
  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;
}

main {
  margin: 0 38px;
}

