

.about, .journey, .moves {
  margin: 0 auto;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

h2, p {
    padding-bottom: .8em;
}
}

.about {
    position: relative;

    .scroll-down {
        position: absolute;

        bottom: 2em;
    }
}



.about-content {
    width: 80%;
    
}

.journey-content, .moves-content {
    width: 80%;
}

.moves-content {
    .moves-words {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 2em;
    }
}



