@keyframes slide-up {
    from {
        transform: translateY(100px);
    } to {
        transform: translateY(0);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes upanddown {
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
}
// opacity loader
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
  }


//helper classes for after loader animation trigger
    .slide-up-h3-home {
    animation: slide-up 1.2s ease-out forwards, opacity 1.4s ease-out forwards;
    }
    .slide-up-h2-home {
    animation: slide-up 1.5s ease-out forwards, opacity 2s ease-out forwards;
    }
    .slide-up-p-home {
    animation: slide-up 2.2s ease-out forwards, opacity 2.6s ease-out forwards;
    }