.contact-lightbox {
  height: auto;
  padding-bottom: 2em;
}

.contact {
  margin: 0 auto;
  padding-top: 10em;
  padding-bottom: 2em;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

@media screen and (min-width: 960px) {
  .form-cont {
    width: 30%;
  }
}

input,
textarea {
  color: $white;
}
.form-group {
  position: relative;
  display: block;
  margin-bottom: 2.5em;
  span {
    font-size: 1em;
    color: $blue;
    position: absolute;
    top: 1em;
    left: 0.5em;
    transition: all 0.2s ease;
    transform-origin: 0 0;
    cursor: text;
  }
  span {
    .border {
      height: 2px;
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 48px;
      transform: scaleX(0);
      transition: all 0.15s ease;
      background: #fff;
    }
  }
}
.form-control {
  border: none;
  border-bottom: 2px solid $purple;
  display: block;
  width: 100%;
  height: 48px;
  font-size: 1em;
  background: none;
  &:focus,
  &:valid {
    outline: none;
    border-bottom: 2px solid $blue;
    caret-color: $blue;
    & + span {
      transform: translateY(-28px) scale(0.8);
      & + .border {
        transform: scaleX(1);
      }
    }
  }
}

.form-control-area {
  border: none;
  border-bottom: 2px solid $purple;
  display: block;
  width: 100%;
  height: 6em;
  font-size: 1em;
  font-family: inherit;
  background: none;
  &:focus,
  &:valid {
    outline: none;
    border-bottom: 2px solid $blue;
    caret-color: $blue;
    & + span {
      transform: translateY(-28px) scale(0.8);
      & + .border {
        transform: scaleX(1);
      }
    }
  }
}
