@import "modules/mixins";

.active {
  transition: all .5s ease-out;
  background: rgba($color: #070a36, $alpha: .8) !important;
}
.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  padding: 1.5em;
  margin: 0 auto;

  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all .5s ease-out;

}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  .logo-dui-nav {
    
    width: 9em;
    z-index: 9;
  }
}

.menu-btn {
  display: block;
  position: relative;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 2px;
    background: $purple;
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 2px;
      background: $purple;
      @include transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 28px;
      height: 2px;
      background: $purple;
      @include transition-ease;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        background: $purple;
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        background: $purple;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}

.nav {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.98;
  visibility: hidden;

  &.open {
    visibility: visible;
    overflow-y: hidden;
  }

  .menu-nav {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    justify-content: center;
    margin: 0;

    padding-left: 2em;
    height: 100vh;
    overflow: hidden;
    background: $blue;
    list-style-type: none;
    padding-right: 1rem;
    opacity: 0;
    @include transition-ease;

    &.open {
      opacity: 1;
    }

    &__item {
      transform: translateX(-100vw);
      @include transition-ease;

      &.open {
        transform: translateX(0);
      }

      & > a {
        color: $purple;
        text-decoration: none;
      }
    }

    &__item:last-child {
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: (translateX(-50%));

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-size: 13px;
          color: $purple;
        }
      }
    }

    &__link {
      display: inline-block;
      font-size: 1.5rem;
      padding: 1em 0 1em 2em;
      font-weight: $bold;
      @include transition-ease;

      &:hover {
        scale: 1.1;
        color: $background;
      }
    }
  }
}
