// Typography

// Desktop

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 3rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}

// menu btn

@media screen and (min-width: 960px) {
  .menu-btn {
    height: 20px;
    width: 35px;

    &__burger {
      width: 35px;
      height: 3px;

      &::before {
        top: -12px;
        width: 35px;
        height: 3px;
      }

      &::after {
        top: 12px;
        width: 35px;
        height: 3px;
      }

      &.open {
        &::before {
          transform: rotate(45deg) translate(5px, 10px);
        }

        &::after {
          transform: rotate(-45deg) translate(7px, -13px);
        }
      }
    }
  }

}
// links fixed

@media screen and (max-width: 960px) {
  main {
    margin: 0 4em;
  }
  .links-fixed, .text-fixed {
    display: none;
  }
  
}

// Home intro

@media screen and (min-width: 960px) {
    
    
    .menu-nav {
        flex-direction: row !important;
        align-items: center;
    
        &__item {
          .menu-nav__link {
            padding: 0 .5em;
            font-size: 3rem;
          }
        }
      }
      }


@media screen and (min-width: 960px) {

    .nav-wrapper {
        width: 90%;
    }

  .home-wrapper {
    width: 91%;
    margin: 0 auto;

    .home__intro {
      .home-header {
        flex-direction: row;
        align-items: center;

        .home-content {
          width: 50%;
          // p {
          //   width: 600%;
          // }
        }
      }
      .avatar {

          margin: 0;
        
      }
    }
  }

  .projects,
  .other-projects,
  .skills,
  .contact-cta {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .projects {
    width: 90%;
    margin: 0 auto;
    padding-top: 3em;
    

    .project-box__wrapper {
      width: 90%;
      grid-template-columns: repeat(auto-fit, minmax(535px, auto));
      gap: 16px 5px;

      .project-box {
        height: 300px;

        &__link {
          width: 70px;

          img {
            width: 25px;
          }
        }
      }
    }
  }

  .other-projects,
  .skills,
  .contact-cta {
    margin-top: 6em;
  }

  .skills {
    .skills-wrapper {
      flex-direction: row;
      justify-content: center;
      gap: 5em;
    }
  }
  .contact-cta {

    .contact-wrapper {
      align-items: center;
      p {
        width: 50%;
      }
      button {
        margin: 0;
      }
    }
  }

  button {
    padding: 20px 60px;
    @include transition-ease;

    &:hover {
      background-color: $blue;
      color: $purple;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    margin-top: 5em;

    div {
      
      flex-direction: row;
      align-items: center;

      p {
        padding-left: 3em;
        font-size: 1.25rem;
        color: $purple;
      }
    }
  }
}
