// Colors

$background: #070a36;
$white: #e5e1e6;
$blue: #48dcfe;
$purple: #7983ff;

// Typography

$main-type: "DM Sans", Helvetica, sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
// Mobile
a {
  font-family: $main-type;
}

h2 {
  color: $purple;
  font-size: 1.8rem;
  font-weight: $bold;
  line-height: 2.5rem;
}

h3 {
  color: $blue;
  font-size: 1rem;
  font-weight: $regular;
  line-height: 1.5rem;
}

// use for the scroll down
h4 {
  color: $white;
  font-size: 0.8rem;
  font-weight: $regular;
  line-height: 1.875rem;
}

h5 {
  color: $white;
  font-size: 0.75rem;
}

p {
  color: $white;
  font-size: 1rem;
  font-weight: $regular;
  line-height: 1.5rem;
}

// helper classes

.hidden {
  display: none;
}

button {
  border: 1px solid $blue;
  background: none;
  padding: 10px 40px;
  color: $blue;
  font-weight: $bold;
  margin: 0 auto;
  transition: all .8s ease-out;
}

button:hover {
  background-color: $blue;
  color: $purple;
}

.noScroll {
    position: fixed;
    overflow: hidden;
}